<?xml version="1.0" encoding="UTF-8"?>
<!--
Примечания
Чтобы tomcat знал о нашем классе нужно
его прописать в настройку окружения - web.xml
+++++
Файл web.xml - это маршрутизатор для сервера.
Он указывает в какой класс нужно передать запрос.
+++++
Если выполнить запрос по адресу
http://localhost:8080/dreamjob/post/save,
то сервер отправить запрос к сервлету PostServlet.
+++++
Изменим web.xml под общий формат.
Было: url-pattern>/post/save</url-pattern>
Стало:  <url-pattern>/posts.do</url-pattern>
ea37
-->

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>servlet.PostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/posts.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CandidateServlet</servlet-name>
        <servlet-class>servlet.CandidateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidateServlet</servlet-name>
        <url-pattern>/candidates.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/deleteImage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadImageCandidateServlet</servlet-name>
        <servlet-class>servlet.UploadImageCandidateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImageCandidateServlet</servlet-name>
        <url-pattern>/uploadImageCandidate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>servlet.RegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/reg.do</url-pattern>
    </servlet-mapping>
</web-app>